{% extends 'base.html.twig' %}

{% block title %}CarManage - Home{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur CarManage !</h1>
    <p class="lead">Vous allez pouvoir ici, gérer complétement votre collection automobile !</p>
    <hr class="my-4">
    <p>vous pouvez commencer par ajouter une voiture ici </p>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Ajouter une voiture</a>
    </div>
</div>
{% endblock %}
