{% extends 'base.html.twig' %}

{% block title %}Nouvelle voiture{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une nouvelle voiture</h1>

        {{ include('car/_form.html.twig') }}

        <a class="btn btn-secondary mt-3" href="{{ path('app_car_index') }}">Retour à ma liste</a>
    </div>
{% endblock %}
